@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background-color: #1B0430;
    color: #1DD3B0;
    text-align: center;
    font-family: Amaranth, sans-serif;
}

img {
    max-width: 15rem;
}

#container {
    margin-top: 3rem;
    width: 88%;
    max-width: 42rem;
    margin-inline: auto;
}

h1 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    opacity: 0.9;
    font-size: 4rem;
}

p {
    margin-bottom: 2rem;
    opacity: 0.7;
    font-size: 2rem;
}

input {
    display: block;
    width: 100%;
    padding: 2rem;
    font-size: 2rem;
    border-radius: 8px;
}

input {
    margin-bottom: 1.5rem;
}

button {
    display: inline-block;
    width: 45%;
    padding: 1rem;
    font-size: 1.7rem;
    border-radius: 8px;
    border: none;
    background-color: #1DD3B0;
    box-shadow: #1D23B0 4px 4px 0px;
    color: #1B0430;
    transition: transform 200ms, box-shadow 200ms;
    margin: 0.8rem;
}

button:active {
    transform: translateY(4px) translateX(4px);
    box-shadow: #1D23B0 0px 0px 0px;
}

#resposta {
    margin-top: 2rem;
    transition: opacity 1s;
    font-size: 2.6rem;
}

#resposta div {
    font-size: 1.6rem;
    font-weight: normal;
    opacity: 0.9;
    margin-bottom: 18px;
}